
@{
    ViewData["Title"] = "DeleteLocation";
}
@model BookMyShowEntity.Location
<div>
    <hr />
    <a asp-controller="Location" asp-action="Index">Back to Index</a>
    <hr />
</div>
<h1>DeleteLocation</h1>
<hr />
<form method="post" enctype="multipart/form-data">
    <h2>Location Delete</h2><hr />
    <div class="form-group">
        <label>Location id</label>
        <input type="text" asp-for="Id" class="form-control"
               placeholder="enter location id" required />
    </div>


    <input type="submit" value="Delete" class="btn btn-outline-success" />

    <hr />
    @if (ViewBag.status == "Ok")
    {
        <div class="alert alert-success">
            @ViewBag.message
        </div>
    }
    else if (ViewBag.status == "Error")
    {
        <div class="alert alert-danger">
            @ViewBag.message
        </div>
    }
</form>

